/* Importando uma fonte moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --cor-fundo: #ffffff;
    --cor-destaque: #ffcc00; /* Amarelo abelha */
    --cor-texto-escuro: #1a1a1a; /* Quase preto para melhor leitura */
    --cor-detalhes: #000000;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto-escuro);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: var(--cor-detalhes);
    color: var(--cor-destaque);
    text-align: center;
    padding: 2rem 0;
    border-bottom: 8px solid var(--cor-destaque);
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    background-color: var(--cor-destaque);
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: var(--cor-detalhes);
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
}

nav a:hover {
    transition: all 0.3s ease;
    background-color: #fffbe6;
    color: var(--cor-destaque);
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    background-color: #fffbe6;
    border-left: 5px solid var(--cor-destaque);
    border-radius: 10px;
}

#ladoalado{
    display: flex;
    align-items: center;
    gap: 20px;
}

section p{
    text-align: justify;
    text-indent: 20px;
}

h2 {
    color: var(--cor-detalhes);
    border-bottom: 3px solid var(--cor-destaque);
    display: inline-block;
    padding-bottom: 5px;
}

img {
    display: block;
    margin: 0 auto;
    width: 290px;
    border-radius: 10px;
}

ul {
    padding: 0;
    list-style-position: inside;
}

ul li {
    padding-left: 30px;
    margin-bottom: 5px;
    font-weight: 500;
}

footer {
    background-color: var(--cor-detalhes);
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-top: 40px;
}

footer p {
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--cor-destaque);
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 15px;
    border: 1px solid var(--cor-destaque);
    border-radius: 20px;
    transition: all 0.3s ease;
}

footer a:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-detalhes);
}